@font-face {
  font-family: "Besom";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Besom.woff2") format("woff2"),
    url("../fonts/Besom.woff") format("woff");
}