.footer-site {
  transform: rotate(-90deg);
  position: absolute;
  left: -70px;
  bottom: 170px;
}

.footer-site__link {
  text-decoration: none;
  color: #6a7199;
  padding-right: 20px;
  font-size: 20px;
}
